* {
	  box-sizing: border-box;
}

html {
	height: 100%;
  max-height: 100%;
}

body {
  margin: 1px;
  padding:5px;
  font-family:  roboto,  Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#656565;
  font-weight:300;
  font-size: 1.1em;
  height: 100%;
  max-height: 100%;
}

.map {
	position: absolute;
	left: 233px;
	right: 0;
	height: 100%
}

.listContainer {
	height: 100%;
	overflow: auto;
	width: 230px;
	float: left;



}

.list {

}

.listItem {
	background-image: url("../images/avatar.png");
	background-repeat: no-repeat;
	background-size: 25px 30px;
	
	width: 220px;
	margin-bottom: 2px;
	float: left;
	padding-left: 35px;
}

.pending {
	border: 1px solid #eee;
}

.loaded {
	/*border: 1px solid #eee;*/
	border: 1px solid green;
	/*background-color: #ebfaeb;*/
}

.failed {
/*	border: 1px solid #eee;*/
	border: 1px solid red;
	/*background-color: #ffebe5;*/
}

.location {
	padding-left: 3px;
	font-style: italic;
}

.listItem > ul {
	list-style: none;
	padding-left: 0px;
}