* {
	  box-sizing: border-box;
}

body {
  margin: 1px;
  padding:5px;
  font-family:  roboto,  Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#656565;
  font-weight:300;
}

.map {
	position: absolute;
	left: 250px;
	right: 0;
	height: 100%
}

.list {
	width: 250px;
	float: left;
}

.listItem {
	border: 1px solid red;
	width: 250px;
}