* {
	  box-sizing: border-box;
}


body {
  margin: 1px;
  padding:5px;
  font-family:  roboto,  Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#656565;
  font-weight:300;
  font-size: 1.0em;
}

body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
  min-width: 768px;
}

@media (min-width: 768px){
  #leftNav {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 5px;
    width: 23%;
     height:100%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width: 77%;
  }
}

.map {
	position: absolute;
	left: 25%;
	right: 0;
	top: 0;
	height: 100%;
}

.listItem {
	background-image: url("../images/avatar.png");
	background-repeat: no-repeat;
	background-size: 25px 30px;
	
	width: 100%;
	margin-bottom: 2px;
	float: left;
	padding-left: 35px;
}

.clickable {
  cursor: pointer;
}

.pending {
	border: 1px solid #eee;
}

.loaded {
	/*border: 1px solid #eee;*/
	border: 1px solid green;
	/*background-color: #ebfaeb;*/
}

.failed {
/*	border: 1px solid #eee;*/
	border: 1px solid red;
	/*background-color: #ffebe5;*/
}

.location {
	padding-left: 3px;
	font-style: italic;
}

.listItem > ul {
	list-style: none;
	padding-left: 0px;
  margin-bottom: 0px;
}

.name {
  font-weight: bold;
}

.gm-style .gm-style-iw {
    font-weight: 100;
    font-size: 1.0em !important;
    overflow: hidden;
}

.gm-style .gm-style-iw > ul {
		list-style: none;
	padding-left: 0px;
}

